<nav class="home-nav">
  <% if logged_in? %>
    <%= link_to "#{current_organization.name}", current_organization %>
  <% end %>
  <%= log_in_out_link_top %>
</nav>
<section class="home-content">
  <h1>
    <%= image_tag "genus-logo-t.png", alt: "Genus", class: "home-logo" %>
  </h1>
  <p class="home-description"><strong>
      A flexible & simple GlassFrog alternative for self-managing organizations
  </strong></p>
  <p class="home-intro">
    Sign up for a free beta account below and <br>
    follow us <%= link_to "@genusapp", "http://twitter.com/genusapp" %>.
  </p>

  <!-- Begin MailChimp Signup Form -->
  <section class="home-mailchimp" id="mc_embed_signup">
    <form action="<%= ENV['MAILCHIMP_SIGNUP_ACTION'] %>" method="post" name="mc-embedded-subscribe-form">
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" placeholder="Enter your email address">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_f1c7ebfcafb38d6b735e19b90_fd939b60bc" tabindex="-1" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe" >Set me up with a free beta account!</button>
    </form>
  </section>
</section>
