<nav class="home-nav">
  <% if logged_in? %>
    <%= link_to "#{current_organization.name}", current_organization %>
  <% end %>
  <%= log_in_out_link %>
</nav>
<section class="home-content">
  <h1>
    <%= image_tag "genus-logo-t.png", alt: "Genus", class: "home-logo" %>
  </h1>
  <p><strong>
      A flexible & simple GlassFrog alternative for self-managing organizations
  </strong></p>
  <p>
    Coming soon by <%= link_to "Brandon Bayer",
      "http://twitter.com/feedthebayer" %>
  </p>

  <!-- Begin MailChimp Signup Form -->
  <section class="home-mailchimp" id="mc_embed_signup">
    <form action="<%= ENV['MAILCHIMP_SIGNUP_ACTION'] %>" method="post" name="mc-embedded-subscribe-form">
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" placeholder="Enter your email address">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_f1c7ebfcafb38d6b735e19b90_fd939b60bc" tabindex="-1" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe" >Notify me when I can try this!</button>
    </form>
  </section>
</section>
