<article class="con-partition" id="messages:<%= message.id %>">
  <section class="msg-container">
    <header>
      <%= gravatar_for message.user %>
      <div>
        <h1 class="msg-heading">
          <%= message.user.name %>
        </h1>
        <small class="msg-time">
          <%= local_time_ago message.created_at %>
        </small>
      </div>
    </header>
    <div class="msg-content">
      <%# <%= simple_format message.body %>
      <%= auto_html(message.body) { html_escape; simple_format; image; twitter; gist; link; } %>
    </div>
  </section>
</article>
