<article class="msg-container">
  <header>
    <h1 class="msg-header"><%= message.user.name %></h1>
    <small class="msg-time">
      <%= time_tag message.created_at do %>
        <%= time_ago_in_words message.created_at %> ago
      <% end %>
    </small>
  </header>
  <div class="msg-content">
    <%= simple_format message.body %>
  </div>
  <footer class="msg-footer">
    <small>
      <%= link_to "Delete", [current_organization, message], method: :delete %>
    </small>
  </footer>
</article>
