<article class="msg-container" id="messages:<%= message.id %>">
  <header>
    <h1 class="msg-header"><%= message.user.name %></h1>
    <small class="msg-time">
      <%= time_tag message.created_at do %>
        <%= time_ago_in_words message.created_at %> ago
      <% end %>
    </small>
  </header>
  <div class="msg-content">
    <%= simple_format message.body %>
  </div>
  <footer class="msg-footer">
    <small class="msg-footerSmall">
      <%= link_to "Delete", [message.messageable, message],
        method: :delete, remote: true %>
    </small>
  </footer>
</article>
