<article class="con-partition" id="messages:<%= message.id %>">
  <section class="msg-container">
    <header>
      <%= link_to [message.user.organization, message.user] do %>
        <%= gravatar_for message.user %>
      <% end %>
      <div class="uOverflowAuto">
        <h1 class="msg-heading">
          <%= link_to message.user.name,
            [message.user.organization, message.user],
            class: "app-headingLink" %>
        </h1>
        <small class="msg-time">
          <%= local_time_ago message.created_at %>
        </small>
      </div>
    </header>
    <div class="msg-content">
      <%= auto_html(message.body) { html_escape; simple_format; image; twitter; gist; link; } %>
    </div>
  </section>
</article>
