<% provide(:title, "Log In") %>
<header>
  <nav class="nst-nav">
    <%= link_to root_path do %>
      <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nst-logo" %>Genus<% end %>
  </nav>
</header>

<section class="li-content">
  <h1 class="li-heading">Login</h1>
  <p class="li-intro">
    Because we love simplicity and security, we don't bother with cumbersome,
    hackable passwords. Instead, we instantly email you a secure, single-use login link.
  </p>
  <div class="li-form">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.submit "Email me a new login link", class: "li-form-btn" %>
    <% end %>
  </div>
</section>
