<% content_for :title, "Conversation in #{@conversation.group.name}" %>

<%= render partial: 'shared/navbar_top', locals: { org: @org } %>

<main class="app-main" id="app-main">
  <h1 class="app-pageHeading">
    A conversation in
    <%= link_to @conversation.group.name, [@org, @conversation.group],
        class: "app-headingLink" %>
  </h1>

  <section class="app-primarySection">
    <article class="con-conversation">
      <section id="messages">
        <%= render @messages %>
      </section>

      <section class="con-partition" id="new-message" data-turbolinks-temporary>
        <%= render partial: 'messages/reply_form',
          locals: { convo: @conversation, message: @new_msg } %>
      </section>
    </article>
  </section>

  <aside class="app-aside" id="app-aside">
    <%= render partial: 'shared/groups_aside', locals: { org: @org } %>
  </aside>
</main>
