<% content_for :title, "Groups in #{@org.name}" %>

<%= render partial: 'shared/navbar_top', locals: { org: @org } %>

<main class="app-main" id="app-main">
  <section class="app-primarySection">
    <h1 class="app-pageHeading">
      Groups in <%= link_to @org.name, @org, class: "app-headingLink" %>
    </h1>
    <section class="app-paddedContainer">
      <section class="grp-newSection">
        <section id="grp-newGroup" data-turbolinks-temporary>
          <h1 class="app-sectionHeader">Create a new group</h1>
          <%= render partial: 'form', locals: { org: @org, group: @new_group } %>
        </section>
        <p class="grp-help"><strong>What groups should I make?</strong></p>
        <p>
          Whatever you like!
          Groups can be used to map your organizational structure by teams, circles,
          or departments. Also groups can be used for specific projects or other themes
          of communication. Simply, archive them when they are done.
        </p>
        <p class="grp-help"><strong>Can I make nested groups?</strong><p>
            <p>
              Sure! To maximize flexiblity, we let you nest groups with a naming
              scheme. For example, a few group names could be:
              <ul class="grp-groupEx">
                <li>Board</li>
                <li>Board/GCC/Web App</li>
                <li>Ohio</li>
                <li>Awesome Client Company</li>
              </ul>
            </p>
          </section>

      <section class="grp-indexSection">
        <h1 class="app-sectionHeader">Archive a group</h1>
        <ul class="grp-list" id="groups:archive">
          <% @groups.each do |group| %>
            <% next if group.default %>
            <li>
              <small><%= link_to "Archive \"#{group.name}\"", [@org, group],
                  method: :delete,  data: { confirm:
                  "The #{group.name} group in #{@org.name} will be archived." } %>
              </small>
            </li>
          <% end %>
          <% if @groups.size == 1 #Only the default group %>
            <li><small>There are no archivable groups.</li>
            <li>("<%= @groups.first.name %>" is the default group and can't be archived.)</li>
          <% end %>
        </ul>
      </section>
    </section>
  </section>
</main>

<aside class="app-aside" id="app-aside">
  <%= render partial: 'shared/navbar_side', locals: { org: @org } %>
</aside>

<%= link_to @org do %>
  <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nav-logo-bottom" %>
<% end %>
