<% content_for :title, "#{@group.name} in #{@org.name}" %>

<%= render partial: 'shared/navbar_top', locals: { org: @org } %>

<main class="app-main" id="app-main">
  <section class="app-primarySection">
    <h1 class="app-pageHeading"><%= @group.name %></h1>
    <section id="messages">
      <div class="app-paddedContainer" id="grp-heading" data-turbolinks-temporary>
        <%= render partial: 'messages/new_form',
          locals: { org: @org, group: @group, message: @new_msg } %>

        <% if @unread %>
          <h1 class="app-sectionHeader con-heading">
            Unread Conversations
          </h1>
          <small class="app-pagination">
            <%= link_to 'View read',
                organization_group_path(@org, @group, page: 1) %>
          </small>
        <% else %>
          <h1 class="app-sectionHeader con-heading">
            Read Conversations
          </h1>
          <small class="app-pagination">
            <%= link_to_next_page @conversations, '←Older' %>
            <%= link_to_previous_page @conversations, 'Newer→' %>
            <%= link_to("View #{@unread_count} unread",
                        [@org, @group]) if @unread_count > 0 %>
          </small>
        <% end %>
      </div>

      <section class="con-container">
        <%= render(partial: 'conversations/conversation',
                   collection: @conversations.reverse,
                   locals: { new_msg: @new_msg, unread: @unread }) ||
                    empty_feed_notice %>
      </section>

      <div class="app-paddedContainer">
        <small class="app-pagination">
          <% if @unread %>
            <%= link_to 'View read', organization_group_path(@org, @group, page: 1) %>
          <% else %>
            <%= link_to_next_page @conversations, '←Older' %>
            <%= link_to_previous_page @conversations, 'Newer→' %>
            <%= link_to("View #{@unread_count} unread",
                        [@org, @group]) if @unread_count > 0 %>
          <% end %>
        </small>
      </div>
    </section>
  </section>
  <section class="app-secondarySection">
    <div class="app-paddedContainer">
      <section class="rol-sideList" id="roles">
        <%= render partial: 'shared/group_secondary',
          locals: { group: @group } %>
      </section>
    </div>
  </section>
</main>

<aside class="app-aside" id="app-aside">
  <%= render partial: 'shared/navbar_side', locals: { org: @org } %>
</aside>

<%= link_to @org do %>
  <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nav-logo-bottom" %>
<% end %>
