<% content_for :title, "All people in #{@org.name}" %>

<%= render partial: 'shared/navbar_top', locals: { org: @org } %>

<main class="app-main" id="app-main">
  <section class="app-primarySection">
    <h1 class="app-pageHeading">
      People in <%= link_to @org.name, @org, class: "app-headingLink" %>
    </h1>
    <section class="app-paddedContainer">
      <section class="usr-indexSection">
        <ol id="users">
          <% @users.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        </ol>
      </section>
      <section class="usr-newSection" id="usr-new" data-turbolinks-temporary>
        <%= render partial: 'form', locals: { org: @org, user: @new_user } %>
      </section>
    </section>
  </section>
</main>

<aside class="app-aside" id="app-aside">
  <%= render partial: 'shared/navbar_side', locals: { org: @org } %>
</aside>

<%= link_to @org do %>
  <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nav-logo-bottom" %>
<% end %>
