<header class="nav-header" id="nav-header" data-turbolinks-permanent>
  <nav class="nav-right">
    <%= log_in_out_link %>
  </nav>
  <nav class="nav-left">
    <%= link_to org do %>
      <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nav-logo" %>
    <% end %>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to org.name, org %></li>
      <li class="nav-list-item nav-groups">
        <%= link_to "Groups", organization_groups_path(org) %>
      </li>
      <!-- <li class="nav&#45;list&#45;item"><%= link_to "Roles", "#" %></li> -->
      <li class="nav-list-item"><%= link_to "People", "#" %></li>
      <li class="nav-list-item"><%= link_to "Me", "#" %></li>
    </ul>
  </nav>
</header>
