<% content_for :title, "#{@role.name} role in #{@role.group.name}" %>

<%= render partial: 'shared/navbar_top', locals: { org: @org } %>

<main class="app-main" id="app-main">
  <section class="app-primarySection">
    <h1 class="app-pageHeading">
      <%= @role.name %> role in
      <%= link_to @role.group.name, [@org, @role.group], class: "app-headingLink" %>
    </h1>
    <div class="app-paddedContainer">
      <section class="rol-description">
        <% if @role.description.blank? %>
          <i>No description</i>
        <% else %>
          <%= auto_html(@role.description) { html_escape; simple_format; image; twitter; gist; link; } %>
        <% end %>
      </section>
      <section class="rol-assignments">
        <h2 class="app-sectionHeader">Assigned To</h2>
        <% if @role.role_assignments.empty? %>
          <div>No one</div>
        <% else %>
          <% @role.role_assignments.ordered_by_user.each do |assignment| %>
            <div class="rol-assignee uOverflowAuto">
              <%= link_to [@org, assignment.user], class: 'app-subtleLink' do %>
                <%= gravatar_for assignment.user %>
                <%= assignment.user.name %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </section>
      <div class="rol-editLink">
        <%= link_to "Edit this role",
          edit_organization_role_path(@org, @role) %>
      </div>
    </div>

  </section>
  <section class="app-secondarySection">
    <div class="app-paddedContainer">
      <section id="roles">
        <%= render partial: 'shared/group_secondary',
          locals: { group: @role.group } %>
      </section>
    </div>
  </section>
</main>

<aside class="app-aside" id="app-aside">
  <%= render partial: 'shared/navbar_side', locals: { org: @org } %>
</aside>

<%= link_to @org do %>
  <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nav-logo-bottom" %>
<% end %>


