<% content_for :title, @org.name %>
<%= render partial: 'shared/nav_header', locals: { org: @org } %>
<main class="app-main" id="app-main">
  <h1 class="app-pageHeading">Everyone in <%= @org.name %></h1>
  <section class="app-convoSection">
    <section id="messages">
      <section id="org-newMsg" data-turbolinks-temporary>
        <%= render partial: 'messages/new_form',
          locals: { org: @org, message_parent: nil, message: @new_msg } %>
      </section>
      <h1 class="app-sectionHeader app-conDateHeader">
        <% if @date.today? %>
          Today's Conversations
        <% else %>
          <%= @date.strftime "Conversations on %A %b %e, %Y" %>
        <% end %>
      </h1>
      <small class="app-pagination">
        <%= link_to 'previous', organization_path(@org, date: @date.prev_day.to_s) %>
        <% if not @date.today? %>
          <%= link_to 'next', organization_path(@org, date: @date.next_day.to_s) %>
          <%= link_to 'today', @org %>
        <% end %>
      </small>
      <%= render(partial: 'conversations/conversation', collection: @conversations,
                 locals: { new_msg: @new_msg }) || empty_feed_notice %>
    </section>
  </section>
  <aside class="app-aside" id="app-aside">
    <%= render partial: 'shared/groups_aside', locals: { org: @org } %>
  </aside>
</main>
