<header class="org-header" id="org-header" data-turbolinks-permanent>
  <nav class="hdr-left">
    <%= link_to root_path do %>
      <%= image_tag "genus-logo-t.png", alt: "Genus", class: "hdr-logo" %>
    <% end %>
    <ul class="hdr-list">
      <li class="hdr-list-item"><%= link_to "#{@org.name}", @org %></li>
      <li class="hdr-list-item"><%= link_to "Groups", "#" %></li>
      <li class="hdr-list-item"><%= link_to "Roles", "#" %></li>
      <li class="hdr-list-item"><%= link_to "People", "#" %></li>
      <li class="hdr-list-item"><%= link_to "Me", "#" %></li>
    </ul>
  </nav>
  <nav class="hdr-right">
    <%= log_in_out_link %>
  </nav>
</header>
<main class="org-main">
  <section class="org-msgSection">
    <section class="org-newMsg">
      <h1 class="org-sectionHeader">Message Everyone</h1>
      <%= render partial: 'messages/form', locals: { org: @org, message: @new_message } %>
    </section>
    <section class="org-messages" id="messages">
      <h1 class="org-sectionHeader">Today</h1>
      <%= render @messages %>
    </section>
  </section>
  <aside class="org-aside" id="org-aside" data-turbolinks-permanent>
    <h1>My Roles</h1>
    <h1>My Groups</h1>
  </aside>
</main>
