<% content_for :title, @org.name %>
<%= render partial: 'shared/nav_header', locals: { org: @org } %>
<main class="app-main" id="app-main">
  <h1 class="app-pageHeading"><%= @org.name %>/Everyone</h1>
  <section class="app-convoSection">
    <section id="messages">
      <section id="org-newMsg" data-turbolinks-temporary>
        <%= render partial: 'messages/new_form',
          locals: { org: @org, message_parent: nil, message: @new_msg } %>
      </section>
      <h1 class="app-sectionHeader app-conDateHeader">
        Conversations
      </h1>
      <small class="app-pagination">
        <%= link_to_next_page @conversations, '←Older' %>
        <%= link_to_previous_page @conversations, 'Newer→' %>
      </small>
      <%= render(partial: 'conversations/conversation',
          collection: @conversations.reverse, locals: { new_msg: @new_msg }) ||
          empty_feed_notice %>
      <small class="app-pagination">
        <%= link_to_next_page @conversations, '←Older' %>
        <%= link_to_previous_page @conversations, 'Newer→' %>
      </small>
    </section>
  </section>
  <aside class="app-aside" id="app-aside">
    <%= render partial: 'shared/groups_aside', locals: { org: @org } %>
  </aside>
</main>
