<!doctype html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) + " | Genus" : "Genus | Flexible & Simple GlassFrog Alternative for Visualizing Roles" %>
    </title>
    <% cache 'head' do %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="Genus is a flexible & simple GlassFrog alternative for visualizing self-managed roles.">
      <meta name="keywords" content="GlassFrog, glass frog, alternative, roles, role visualization, role tracking, manage roles, self-managed, holacracy, sociocracy">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" >

      <%= favicon_link_tag %>
      <%= favicon_link_tag 'apple-touch-icon-iphone.png',
        rel: 'apple-touch-icon', type: 'image/png' %>
      <%= favicon_link_tag 'touch-icon-ipad.png',
        rel: 'apple-touch-icon', type: 'image/png', sizes: "76x76" %>
      <%= favicon_link_tag 'touch-icon-iphone-retina.png',
        rel: 'apple-touch-icon', type: 'image/png', sizes: "120x120" %>
      <%= favicon_link_tag 'touch-icon-ipad-retina.png',
        rel: 'apple-touch-icon', type: 'image/png', sizes: "152x152" %>

      <%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% cache 'browser-upgrade' do %>
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
      <![endif]-->
    <% end %>

    <section class="global-flash" id="global-flash" data-turbolinks-temporary>
      <% flash.each do |name, msg| -%>
        <% if msg.is_a?(String) %>
          <div class="global-flashMsg <%= name %>">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </section>

    <%= yield %>

    <% if Rails.env.production? && !current_user %>
      <% cache 'google-analytics' do %>
        <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-63030273-1','auto');ga('send','pageview');
        </script>
      <% end %>
    <% end %>
  </body>
</html>
